@model EmployeeTaskViewModel
<h2>Task Assignment Form</h2>
<form method="post">
    <p>Select an Employee</p>
    <select name="employeeId">
        @foreach(Employee e in Model.Employees)
            {
                <option value="@e.Id">@e.Name</option>
            }
    </select>
    <br />
    <p>Select a Task to assign the Employee</p>

    <select name="ToDoId">
        @foreach(ToDo t in Model.ToDos)
            {
                <option value="@t.Id">@t.Name</option>
            }
    </select>
    <input type="submit"/>
</form>